* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: #6a6a6a;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url(img/nen.png);
}

.header__menu {
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}

.header__content {
    padding-bottom: 5%;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #1e1e1ea4;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 450;
    color: #ffffff;
}

.header__content__text {
    width: 60%;
    max-width: 700px;
}

.header__content__text p {
    font-size: 20px;
    color: #d5d5d5;
    margin-bottom: 60px;
}

.header__content__text a {
    margin-top: 50px;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4623a;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.7s;
}

.header__content__text a:hover {
    color: #ffffff;
    transition: 0.7s;
    background-color: rgb(79, 79, 79);
}

.header__menu {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.header__menu a {
    text-decoration: none;
    color: #212529;
    padding: 20px;
    font-weight: 680;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__menu .header__menu__text a {
    font-size: 20px;
}

.header__menu .header__menu__nav a {
    font-size: 15px;
}

.header__menu a:hover {
    color: #f4623a;
}

.header__menu__text, .header__menu__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4623a;
}

.about__content {
    height: 100%;
    width: 80%;
    max-width: 700px;
}

.about__content p {
    font-size: 20px;
    color: rgb(220, 220, 220);
    margin-bottom: 70px;
}

.about__content h2 {
    margin-top: 60px;
    font-size: 28px;
    color: white;
}

.about__gach-chan hr {
    margin: 20px 0px;
    height: 3px;
    width: 50px;
    font-size: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.about__content a {
    padding: 20px 50px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.7s;
}

.about__content a:hover {
    color: #ffffff;
    transition: 0.7s;
    background-color: rgb(0, 0, 0);
}

.about__content__text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.services{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0,0,0);
    padding: 120px 9%;
    text-align: center;
}

.services__list{
    display: flex;
    justify-content: space-between;
}

.services__list div{
    margin-top: 30px;
    width: 23%;
}

.services__list i{
    font-size: 25px;
    color: #F4623A;
}

.services h3 {
    font-size: 23px;
}

.services p {
    font-size: 18px;
}

.profolio{
    width: 100%;
    height: auto;
    background-color: #212529;
}

.profolio__top{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.profolio__top--item{
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.profolio__top--cap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4623ab7;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.profolio__top--cap p{
    font-weight: bold;
    font-size: 14px;
    color:#CBC7C4;
}

.profolio__top--cap h5{
    font-size: 22px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.profolio__top a{
    width: 100%;
}

.profolio__top img{
    width: 100%;
    height: 100%;
}

.profolio__bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 160px 0;
}

.profolio__top--item:hover .profolio__top--cap{
    opacity: 1;
}

.portfolio_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100%;
    color: white;
    background-color: #212529;
}

.portfolio__content__text_1 {
    margin-bottom: 45px;
}

.portfolio__content__btn-download {
    height: 60px;
    width: 200px;
    padding-top: 20px;
    border-radius: 40px;
    font-size: 15px;
    color: #212529;
    margin-left: 90px;
    transition: 0.7s;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.portfolio__content__btn-download:hover {
    transition: 0.7s;
    color: #ffffff;
    background-color: orangered;
}

.contact {
    height: 1000px;
    width: 100%;
    background-color: #ffffff;
}

.contact__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__content__text {
    margin-top: 100px;
    text-align: center;
    height: 200px;
    max-width: 550px;
}

.contact__content__text p {
    font-size: 20px;
}

.contact__content__text h2 {
    font-size: 30px;
}

.gach-chan {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gach-chan hr {
    margin: 20px 0px;
    height: 3px;
    width: 50px;
    font-size: 300px;
    border: none;
    background-color: orangered;
}

.contact__form {
    text-align: center;
    height: 550px;
    width: 100%;
}

.contact__form input {
    border-radius: 5px;
    height: 55px;
    max-width: 550px;
    width: 80%;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact__form input:focus {
    outline: none;
    border: 1px solid orangered;
    box-shadow: 0px 0px 2px 3px rgb(255, 160, 125);
}

.contact__form textarea {
    border-radius: 5px;
    height: 180px;
    width: 80%;
    max-width: 550px;
    max-height: 250px;
    min-width: 300px;
    padding: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact__form textarea:focus {
    outline: none;
    border: 1px solid orangered;
    box-shadow: 0px 0px 2px 3px rgb(255, 160, 125);
}

.contact__form i {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
    color: #6a6a6a;
}

.contact__form__btn-submit {
    width: 80%;
    max-width: 550px;
    margin-top: 30px;
    height: 50px;
    color: white;
    border: none;
    transition: 0.5s;
    background-color: #f4623a;
}

.contact__form__btn-submit:hover {
    transition: 0.5s;
    background-color: #212529;
}

.footer {
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a6a6a;
    background-color: #f8f9fa;
}

@media only screen and (max-width: 740px) {
    .home, .about, .services{
        padding-left: 0;
        padding-right: 0;
    }
    .services__list div{
        width: 90% !important;
    }
    .services__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profolio{
        height: auto;
    }
    .profolio__bottom{
        height: 300px;
    }
    .profolio__top{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .portfolio__content__btn-download {
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1023px) {
    h1{
        font-size: 36px !important;
        font-weight: 600;
    }
    h2{
        font-size: 30px;
    }
    h3{
        margin: 16px 0;
        font-size: 20px;
        font-weight: 500;
    }
    li a:hover {
        color: #F4623A;
    }
    .about{
        height: 100vh;
    }
    .services__list{
        flex-wrap: wrap;
    }
    .services__list div{
        width: 45%;
    }
    .profolio__top{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
    .home, .about, .services, .contact{
        padding-left: 8%;
        padding-right: 8%;
    }
    .portfolio__content__btn-download {
        margin: 0 auto;
        margin-top: 40px;
    }
}