.notification h1 {
    color: red;
    text-align: center;
}

.notification img {
    width: 40%;
}

.notification p {
    display: inline;
}

.introduce h2 {
    color: aliceblue;
    background-color: rgb(235, 82, 148);
}

.introduce span {
    color: rgb(235, 82, 148);
}

.request h2 {
    color: rgb(2, 96, 178);
    background-color: rgb(83, 221, 239);
}

table {
    width: 100%;
    background-image: url("sky.png");
    background-size: 100%;
}

table, td, th {
    border: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 15px 20px;
}

.stt {
    text-align: center;
}

.contact h2 {
    color: rgb(65, 77, 239);
    background-color: rgb(57, 229, 103);
}