* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #336699;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu1 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header h2 {
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.header input {
    padding: 8px 20px;
    margin: 20px;
}

select {
    padding: 8px 20px;
}

.content {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}
.content__left {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.content__left__text {
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    border-top: 2px solid;
    color: white;
    background-color: #336699;
}

.content__left__menu {
    height: calc(100% - 40px);
}

.content__left__menu ul {
    list-style-type: none;
	width: 100%;
}

.content__left__menu ul li a {
    text-decoration:none;
    color:rgb(6, 0, 0);
    line-height: 60px;
    width:100%;
    padding-left: 10px;
    border-bottom: 2px solid black;
    display:inline-block;
}

.content__left__menu ul li a:hover {
    color: white;
    background-color: #336699;
}

.cha{
    position:relative;
}
.con{
    position:absolute;
    left: 100%;
    top: 0px;
    display: none;

}
.cha:hover .con{
    display:block;
}

.content__right {
    width: 85%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.content__right__top {
    margin-top: 20px;
    margin-left: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    height: 70%;
    width: 100%;
}

.content__right__top img {
    width: 55%;
}